{extends file="frontend/index/index.tpl"}
{block name="frontend_footer_social_links"}
{$smarty.block.parent}
<center>
<div style="margin: auto;">
	{if $socialimage1 != ''}
     <a href="{$socialimagelink1}"><img src="{$socialimage1}" style="height: {$socialiconsize}px;width: auto;display: inline-block;margin-right: 20px;"></a>
	{/if}
	{if $socialimage2 != ''}
     <a href="{$socialimagelink2}"><img src="{$socialimage2}" style="height: {$socialiconsize}px;width: auto;display: inline-block;margin-right: 20px;"></a>
	{/if}
	{if $socialimage3 != ''}
     <a href="{$socialimagelink3}"><img src="{$socialimage3}" style="height: {$socialiconsize}px;width: auto;display: inline-block;margin-right: 20px;"></a>
	{/if}
	{if $socialimage4 != ''}
     <a href="{$socialimagelink4}"><img src="{$socialimage4}" style="height: {$socialiconsize}px;width: auto;display: inline-block;margin-right: 20px;"></a>
	{/if}
	{if $socialimage5 != ''}
     <a href="{$socialimagelink5}"><img src="{$socialimage5}" style="height: {$socialiconsize}px;width: auto;display: inline-block;margin-right: 20px;"></a>
	{/if}
	{if $socialimage6 != ''}
     <a href="{$socialimagelink6}"><img src="{$socialimage6}" style="height: {$socialiconsize}px;width: auto;display: inline-block;margin-right: 20px;"></a>
	{/if}
	{if $socialimage7 != ''}
     <a href="{$socialimagelink7}"><img src="{$socialimage7}" style="height: {$socialiconsize}px;width: auto;display: inline-block;margin-right: 20px;"></a>
	{/if}
	{if $socialimage8 != ''}
     <a href="{$socialimagelink8}"><img src="{$socialimage8}" style="height: {$socialiconsize}px;width: auto;display: inline-block;margin-right: 20px;"></a>
	{/if}
	{if $socialimage9 != ''}
     <a href="{$socialimagelink9}"><img src="{$socialimage9}" style="height: {$socialiconsize}px;width: auto;display: inline-block;margin-right: 20px;"></a>
	{/if}
	{if $socialimage10 != ''}
     <a href="{$socialimagelink10}"><img src="{$socialimage10}" style="height: {$socialiconsize}px;width: auto;display: inline-block;margin-right: 20px;"></a>
	{/if}
</div>
</center>
{/block}