body {
  background: white;
}
.philia_custom_footer_container_main{
  width: 80%;margin:auto;margin-top: 30px;position: relative;padding: 30px;
}
.philia_custom_footer_container_main_first{
  width: 33%;display: inline-block;
}
.philia_custom_footer_container_main_first_wrapper{
  position: absolute;top:0;padding-top: 35px;
}
.philia_custom_footer_container_main_second{
  width: 33%;display: inline-block;
}
.philia_custom_footer_container_main_third{
  width: 33%;display: inline-block;height:auto;
}


/*.footer-main .footer--column {
  width: 33% !important;
  padding: 30px !important;
}
*/
.footer-mains li {
border-bottom: 1px solid #5e5e5e !important;
width: 80%;
padding-right: 7px !important;
padding-top: 7px !important;
padding-bottom: 7px !important;
}
.footer-mains .navigation--link:hover{
color:white !important;
}
.header-main,.top-bar,.header--navigation,.top-bar >.block-group {
  background: black;
}

.footer-mains .footer--columns {
  border-bottom: none !important;
}
.footer-mains, .footer-mains .container {
  background: #303030 !important;
  color: #9a9a9a;
}

.footer-mains .navigation--list .li {
  color: #9a9a9a;
}

.footer-mains .navigation--link {
  color: #9a9a9a;
}

.footer-mains .column--headline {
}



.philia_product_slider{
  padding-top:20px;padding-bottom:20px;border:2px solid #e5e5e5;width: 150px;height:165px;
}
.philia_product_slider_text{
  font-size: 12px;color: black;
}
.philia_product_slider_image{
width: 100px;height: auto;
}
.main-search--field {
  border: none !important;
  background: #333333 !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  height: 30px !important;
  color:white !important;
}

.main-search--form {
  border: none !important;
  height: 30px !important;
}

.main-search--button {
  top: 0px !important;
  bottom: 0px !important;
  right: 0px !important;
  margin-top: -5px !important;
}

.philia_header_checkout_icons {
  display: inline-block;
  color: white !important;
  margin-right: 30px;
}

.philia_header_checkout_icons i {
  color: #858585 !important;
}

.philia_navigation {
  background: #414141;
  text-align: center;
  border-bottom: 0px;
}

.philia_navigation .navigation--list {
  background: #414141;
  border-bottom: 0px;
}

.philia_navigation .is--active .navigation--link {
  background: none;
  font-weight: 100;
}

.philia_navigation .navigation--link {
  color: #f8f8f5;
  font-weight: 100;
  font-size: 14px;
}

.content--home {
  margin-top: 0px !important;
}



.front_lorem_ipsum {
  text-align: center !important;
  border-bottom: none !important;
  text-decoration: none !important;
}

.panel--title.is--underline {
  border-bottom: none !important;
  text-decoration: none !important;
}

.panel.has--border {
  border: none !important;
}

.heading1 {
  text-align: center !important;
  color: black !important;
}

.heading2 {
  text-align: center !important;
  font-size: 20px !important;
  font-weight: bolder !important;
  color: black !important;
}

.philia_b1_container {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  margin-top: 50px;
}

.philia_b1_container_image_container {
  display: inline-block;
  width: 32%;
  position: relative;
}

.slogan-box {
  margin-top: 50px;
  width: 100%;
}

.philia_b1_container_text {
  position: absolute;
  margin-top: -180px;
  font-size: 30px;
  right: 90px;
  font-weight: bolder;
  text-decoration: underline;
  color: white;
}

.philia_first_main_container {
  width: 100%;
  height: auto;
  margin-top: 50px;
  padding: 50px;
}

.philia_first_main_container_first {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.philia_first_image_container {
  padding: 15px;
  background: white;
  width: auto;
  display: inline-block;
}

.philia_first_image {
  display: block;
}

.philia_first_text_container {
  padding: 30px;
  display: inline-block;
  position: absolute;
}

.philia_first_text_heading1 {
  margin-top: 90px;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
}

.philia_first_text_heading2 {
  color: black;
  font-size: 26px;
  font-weight: bolder;
  text-transform: uppercase;
}

.philia_first_text_description {
  margin-top: 10px;
  color: black;
  font-size: 18px;
  margin-bottom: 40px;
}

.philia_first_text_link {
  border: 2px solid black;
  padding: 5px 60px;
  color: black;
  margin-top: 40px;
}

.philia_second_main_container {
  width: 100%;
  background: #fff;
  height: auto;
  padding: 30px;
}

.philia_second_main_text_container {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.philia_second_main_text_holder {
  padding: 30px;
  text-align: center;
}

.philia_second_heading_one {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
}

.philia_second_heading_two {
  color: black;
  font-size: 26px;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.philia_second_description_one {
  margin-top: 10px;
  color: black;
  font-size: 15px;
  margin-bottom: 40px;
  font-weight: bold;
}

.philia_second_description_two {
  margin-top: 10px;
  color: black;
  font-size: 15px;
  margin-bottom: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.philia_second_link {
  border: 2px solid black;
  padding: 5px 60px;
  color: black;
  margin-top: 40px;
}

#frontBannerParent {
  margin: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#frontBannerImage {
  width: 100%;
  height: auto;
}

#frontBannerText1 {
  font-size: 80px;
  color: white;
  font-style: italic;
}

#frontBannerText2 {
  font-size: 50px;
  color: red;
  font-weight: bolder;
}

#frontBannerText3 {
  font-size: 15px;
  color: white;
  margin-bottom: 30px;
}

#bannerDiv {
  height: 566px;
  width: 566px;
  /*background: #414141;*/
  position: absolute;
  right: 5%;
  bottom: -15%;

 /* -ms-transform: rotate(45deg);

  -webkit-transform: rotate(45deg);

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  transform: rotate(45deg);
  text-align: center;*/
  background-image: url("back.png");
}

.inner {
  position: absolute;
  text-align: center;
  width: 80%;
  top:20%;
  margin-left: 55px;
  /*-webkit-transform: rotate(-45deg);*/

}

.rotate {
  /*transform: translateX(-50%) translateY(-50%) rotate(-45deg);*/
}

.philia_front_banner_text_link {
  border: 2px solid white;
  padding: 5px 60px;
  color: white;
  margin-top: 40px;
}
@media (max-width: 300px) {
#bannerDiv {
  display: none;
}
}
@media (max-width: 575.98px) {
.footer-mains li {
border-bottom: 1px solid #5e5e5e !important;
width: 100%;
padding-right: 7px !important;
padding-top: 7px !important;
padding-bottom: 7px !important;
}
.philia_custom_footer_container_main{
  width: 100%;margin:auto;margin-top: 30px;position: relative;text-align: center;
}
.philia_custom_footer_container_main_first{
  width: 100%;display: block;
}
.philia_custom_footer_container_main_first_wrapper{
  position: relative;
}
.philia_custom_footer_container_main_second{
  width: 100%;display: block;
}
.philia_custom_footer_container_main_third{
  width: 100%;display: block;
}
  .header-main,.top-bar,.header--navigation,.top-bar >.block-group {
    background: black;
    height: auto !important;
    padding: 10px !important;
  }

#bannerDiv {
  height: 200px;
  width: 200px;
  position: absolute;
  right: 5%;
  bottom: -15%;
  background-image: url("back.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.inner {
  position: absolute;
  text-align: center;
  width: 80%;
  top:10%;
  margin-left: 10%;
  /*-webkit-transform: rotate(-45deg);*/

}
  #frontBannerText1 {
    font-size: 22px;
    color: white;
    font-style: italic;
  }

  #frontBannerText2 {
    font-size: 12px;
    color: red;
    font-weight: bolder;
  }

  #frontBannerText3 {
    font-size: 10px;
    color: white;
    margin-bottom: 5px;
  }

  .philia_front_banner_text_link {
    border: 2px solid white;
    padding: 5px 15px;
    color: white;
    margin-top: 20px;
    font-size: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer-mains li {
border-bottom: 1px solid #5e5e5e !important;
width: 100%;
padding-right: 7px !important;
padding-top: 7px !important;
padding-bottom: 7px !important;
}
.philia_custom_footer_container_main{
  width: 90%;margin:auto;margin-top: 30px;position: relative;text-align: center;
}
.philia_custom_footer_container_main_first{
  width: 100%;display: block;
}
.philia_custom_footer_container_main_first_wrapper{
  position: relative;
}
.philia_custom_footer_container_main_second{
  width: 48%;display: inline-block;
}
.philia_custom_footer_container_main_third{
  width: 48%;display: inline-block;
}
    
  .header-main,.top-bar,.header--navigation,.top-bar >.block-group {
    background: black;
    height: auto !important;
    padding: 10px !important;
  }

#bannerDiv {
  height: 250px;
  width: 250px;
  position: absolute;
  right: 5%;
  bottom: -15%;
  background-image: url("back.png");
  background-repeat: no-repeat;
  background-size: 250px 250px;
}

.inner {
  position: absolute;
  text-align: center;
  width: 80%;
  top:10%;
  margin-left: 10%;
  /*-webkit-transform: rotate(-45deg);*/

}

  #frontBannerText1 {
    font-size: 30px;
    color: white;
    font-style: italic;
  }

  #frontBannerText2 {
    font-size: 18px;
    color: red;
    font-weight: bolder;
  }

  #frontBannerText3 {
    font-size: 11px;
    color: white;
    margin-bottom: 10px;
  }



  .philia_front_banner_text_link {
    border: 2px solid white;
    padding: 5px 20px;
    color: white;
    margin-top: 20px;
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
.philia_custom_footer_container_main{
  width: 90%;margin:auto;margin-top: 30px;position: relative;text-align: center;
}
.philia_custom_footer_container_main_first{
  width: 100%;display: block;
}
.philia_custom_footer_container_main_first_wrapper{
  position: relative;
}
.philia_custom_footer_container_main_second{
  width: 48%;display: inline-block;
}
.philia_custom_footer_container_main_third{
  width: 48%;display: inline-block;
}
    
#bannerDiv {
  height: 350px;
  width: 350px;
  position: absolute;
  right: 5%;
  bottom: -15%;
  background-image: url("back.png");
  background-repeat: no-repeat;
  background-size: 350px 350px;
}

.inner {
  position: absolute;
  text-align: center;
  width: 80%;
  top:10%;
  margin-left: 10%;
  /*-webkit-transform: rotate(-45deg);*/

}

  #frontBannerText1 {
    font-size: 40px;
    color: white;
    font-style: italic;
    margin-top: 20px;
  }

  #frontBannerText2 {
    font-size: 25px;
    color: red;
    font-weight: bolder;
  }

  #frontBannerText3 {
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
  }


  .philia_front_banner_text_link {
    border: 2px solid white;
    padding: 5px 30px;
    color: white;
    margin-top: 20px;
    font-size: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #bannerDiv {
  height: 450px;
  width: 450px;
  position: absolute;
  right: 5%;
  bottom: -15%;
  background-image: url("back.png");
  background-repeat: no-repeat;
  background-size: 450px 450px;
}

.inner {
  position: absolute;
  text-align: center;
  width: 80%;
  top:10%;
  margin-left: 10%;
  /*-webkit-transform: rotate(-45deg);*/

}

  #frontBannerText1 {
    font-size: 45px;
    color: white;
    font-style: italic;
    margin-top: 20px;
  }

  #frontBannerText2 {
    font-size: 25px;
    color: red;
    font-weight: bolder;
    margin-top: 30px;
  }

  #frontBannerText3 {
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
    margin-top: 30px;
  
  }


  .philia_front_banner_text_link {
    border: 2px solid white;
    padding: 5px 30px;
    color: white;
    margin-top: 20px;
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
}

@media screen and (max-width: 752px) {


  .philia_second_main_container {
    width: 100%;
    height: auto;
  }

  .philia_second_main_text_container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .philia_first_main_container {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .philia_first_main_container_first {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .philia_first_image_container {
    padding: 10px;
    background: white;
    width: 100%;
  }

  .philia_first_image {
    width: 100%;
    height: auto;
  }

  .philia_first_text_container {
    padding: 10px;
    width: 100%;
    position: relative;
  }

  .philia_first_text_heading1 {
    margin-top: 10px;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
  }

  .philia_b1_container_image_container {
    width: 100%;
    position: relative;
  }

  .philia_b1_container_text {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    text-align: center;
  }

  .philia_b1_container_image {
    width: 100%;
    height: auto;
  }

  .philia_b1_container {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
  }

  .slogan-box {
    margin-top: 50px;
    width: 100%;
  }
}
