/*
Mixins
==================================================
The `mixins.less` file contains the imports to all mixin documents that simplify the work with Shopware.

Mixin specific documentation can be found inside each mixin file.

Mixins can be used by adding the mixin class onto an element inside Shopware.

**Example:**<br/>
`.border-radius(3px);`
*/
/*
Appearance mixin
============================================
The mixins provides you a cross-browser compatible method to set the appearance of the element.

Please refer to <http://caniuse.com/appearance> to see the browser support table of the feature.

######Example:
`.appearance([value]);`

`@param {String} type The type you want to use`
*/
/*
Backface visibility mixin
============================================
The mixins provides you a cross-browser compatible method to set the backface-visibility of the element.

Please refer to <http://caniuse.com/transforms3d> to see the browser support table of the feature.

######Example:
`.backface-visibility([value]);`

`@param {String} visibility The visibility you want to use`
*/
/*
Border-radius mixin
=============================================
The mixins provides you a cross-browser compatible method to set a border-radius.

Please refer to <http://caniuse.com/border-radius> to see the browser support table of the feature.

######Syntax:
`@param {String} radius The radius you want to set`<br/>

######Example:
Same border-radius for all edges: <br/>
`.border-radius([pixel-value]);`<br/>

Different border-radius:<br/>
`.border-radius-multi([pixel-value-leftTop], [pixel-value-rightTop], [pixel-value-rightBottom], [pixel-value-leftBottom]);`<br/>

Resetting border radius:<br/>
`.reset-border-radius();`
*/
/*
Box shadow mixin
==============================================
The mixins provides you a cross-browser compatible method to set a box-shadow.

Please refer to <http://caniuse.com/css-boxshadow> to see the browser support table of the feature.

######Example:
`.box-shadow([h-shadow-value], [v-shadow-value], [blur-amount], [spread-amount], [shadow-color]);`

`@param: {Number} x: Offset to the x axis (Default: 0)`<br/>
`@param: {Number} y: Offset to the y axis (Default: 0)`<br/>
`@param: {Number} blur: Bluring radius (Default: 1px)`<br/>
`@param: {String} color: Color of the shadow (Default: #000)`<br/>
*/
/*
Box-sizing mixin
========================================
The mixins provides you a cross-browser compatible method to set the box-sizing which supports IE starting from
version 8 to the newest one.

Please refer to <http://caniuse.com/css3-boxsizing> to see the browser support table of the feature.

######Example:
`.box-sizing:([value]);`

`@param: {String} box-sizing: Box model, which should be used (Default: border-box)`
*/
/*
Clearfix mixin
================================
The clearfix mixin allows the easy integration of the floating-solution method.

The clearfix resolves the problem that occurs when two floating elements are nested inside a parent element, then sometimes the parent elements height disappears.

Add the `.clearfix` class to the parent element.

######Example:
`.clearfix();`

*/
/*
Gradient mixin
====================================================
The mixins provides you a cross-browser compatible method to set a linear gradient which goes from top to bottom.

Please refer to <http://caniuse.com/css-gradients> to see the browser support table of the feature.

Shopware 5 also provides gradient mixins based on the basic color variables that can be changed in the backend theme configuration tool.
######Basic gradients:
`.primary-gradient();`<br/>
`.secondary-gradient();`<br/>
`.white-gradient();`<br/>

######Linear Gradient Example:
`.linear-gradient([startcolor-value], [endcolor-value]);`

`@param {String} start The start color of the gradient`<br/>
`@param {String} end The end color of the gradient`
*/
/*
Opacity
===============================================
The mixins provides you a cross-browser compatible opacity which supports IE starting from version 8 to the
newest one. Safari, Chrome and Firefox are supported in all versions.

Please refer to <http://caniuse.com/css-opacity> to see the browser support table of the feature.

######Example:
`.opacity([value]);`

`@param: {Number} opacity: Value of the opacity, starting from 0 to 1`
*/
/*
Rotate mixin
===============================================
The mixins provides you a cross-browser compatible method to set a transformation which rotates the element. Keep in
mind that you can not mix different transformations.

Please refer to <http://caniuse.com/transforms2d> to see the browser support table of the feature.

######Example:
`.rotate([value]);`

`@param {String} degree The degree value you want to set. Please keep in mind that you need to suffix the unit.`
*/
/*
Scale mixin
===============================
The mixins provides you a cross-browser compatible method to set a transformation which scales the element.
Keep in mind that you can not mix different transformations.

Please refer to <http://caniuse.com/transforms2d> to see the browser support table of the feature.

######Example:
`.scale([value]);`

`@param {String} scale-value The scale value, you want to set`
*/
/*
Touch callout mixin
===========================================
Disables the default callout shown when you touch and hold a touch target.

######Support:
- iOS 2.0<br/>
- Android 4.1<br/>

######Example:
`.touch-callout([value]);`

`@param: {String} type: The type you want to set (Default: none)`
*/
/*
Transform style mixin
======================================
The mixins provides you a cross-browser compatible method to set a transformation style.

Please refer to <http://caniuse.com/transforms3d> to see the browser support table of the feature.

######Example:
`.transform-style([value]);`

`@param {String} Style The style you want for your transformation (Default: preserve-3d)`
*/
/*
Transform origin mixin
======================================
The mixins provides you a cross-browser compatible method to set the transform origin position.

Please refer to <http://caniuse.com/transforms2d> to see the browser support table of the feature.

######Example:
`.transform-origin([x-value],[y-value],[z-value]);`

`@param: x: Sets the origin position on the x axis (Default: 50%)`<br/>
`@param: y: Sets the origin position on the y axis (Default: 50%)`<br/>
`@param: z: Sets the origin position on the z axis (Default: 0)`
*/
/*
Transition mixin
=========================================
The mixins provides you a cross-browser compatible method to set a transition.

Please refer to <http://caniuse.com/css-transitions> to see the browser support table of the feature.

######Example:
`.transition([property], [duration-value], [easing]);`

`@param: {String} properties: The properites which should be animated (Default: all)`<br/>
`@param: {String} duration: Duration of the transition including the unit (Default: 0.3s)`<br/>
`@param: {String} easing: The easing which should be used for the transition (Default: ease-out)`
*/
/*
Translate mixin
============================================
The mixins provides you a cross-browser compatible method to set a transition.

Please refer to <http://caniuse.com/css-transitions> to see the browser support table of the feature.

Keep in mind, that 3d translations are needing an perspective, otherwise the translated elements get skewed up.

######Example:
`.translate([x-value],[y-value],[z-value]);`

`@param: {String} rotateX: The rotation on the x-axis`<br/>
`@param: {String} rotateY: The rotation on the y-axis`<br/>
`@param: {String} rotateZ: The rotation on the z-axis`<br/>
*/
/*
Unitize mixin
================================================
The unitize mixins converts values from px-units to the relative rem-units, providing all the benefits of units like em and rem, without you having to do any calculations yourself.

######Syntax:
`@property` = the property that should be unitized.<br/>
`@value` = pixel-value<br/>
`@baseValue` (optional) = default browser font-size (@remScaleFactor in most cases)<br/>

######Example Unitize mixin with custom property
`.unitize(@property, @value);`<br/>
`.unitize(font-size, 16);`

######Specific built-in functions
In addition to the general `.unitize()` mixin, Shopware contains specific mixins to quickly calculate values which (for example) have more than one property.<br/>
<br/>

`.unitize-height(@value)`<br/>
`.unitize-width(@value)`<br/>
`.unitize-max-height(@value)`<br/>
`.unitize-max-width(@value)`<br/>
`.unitize-min-width(@value)`<br/>
`.unitize-padding(@topValue, @rightValue: @topValue, @bottomValue: @topValue, @leftValue: @rightValue)`<br/>
`.unitize-margin(@topValue, @rightValue: @topValue, @bottomValue: @topValue, @leftValue: @rightValue)`<br/>
`.unitize-variable(@value)`<br/>
*/
/*
User-select mixin
===============================
The mixins provides you a cross-browser compatible method to set a user selection mode.

Please refer to <http://caniuse.com/user-select-none> to see the browser support table of the feature.

######Example:
`.user-select([value]);`

`@param: {String} type: The type you want to set (Default: none)`
*/
/*
Transform mixin
==============================================
The mixins provides you a cross-browser compatible method to set a transformation.

Please refer to <http://caniuse.com/transforms2d> to see the browser support table of the feature.

######Example:
`.transform([value]);`

`@param: {String} properties: The transformation(s) that should be applied`
*/
/*
Tab highlighting mixin
===========================
Sets the color of the highlighting when a link was clicked / tapped.

Please refer to <http://www.browsersupport.net/CSS/-webkit-tap-highlight-color> to see the browser support table of the feature.

######Example:
`.tap-highlight-color([color-value]);`

`@param: {String} color: The color you want to set (Default: rgba(0, 0, 0, 0))`
*/
/*
Keyframe mixin
=============================================
The mixins provides you a cross-browser compatible method to set a keyframe.

Please refer to <http://caniuse.com/#search=keyframe> to see the browser support table of the feature.

######Example:
`.keyframes([name-value], [frames-value]);`

`@param: {String} name: The keyframe animation name`<br/>
`@param: {String} roules: the animation frames`
*/
@-webkit-keyframes keyframe--spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes keyframe--spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes keyframe--spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes keyframe--spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes keyframe--spin-reverse {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes keyframe--spin-reverse {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@-webkit-keyframes keyframe--spin-reverse {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes keyframe--spin-reverse {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
/*
Animations mixin
============================================
The mixins provides you a cross-browser compatible method to set animation values.

Please refer to <http://caniuse.com/css-animation> to see the browser support table of the feature.

######Example:
`.animation([value]);`

`@param: {String} value: All animation values`
*/
/*
Column count mixin
=============================================
This mixin provides you a cross-browser compatible method to set the column count property.

Please refer to <http://caniuse.com/multicolumn> to see the browser support table of the feature.

######Example:
`.column-count([value]);`

`@param: {Number} count: The amount of columns you want to set (Default: auto)`
*/
/*
Hypheration mixin
======================================
The mixins provides you a cross-browser compatible method to set the hyphenation.

Please refer to <http://caniuse.com/css-hyphens> to see the browser support table of the feature.

######Example:
`.hyphens([value]);`

`@param: {String} hyphenation: The hyphenation that should be used (Default: auto)`
*/
/*
Grabbing cursor
==================================
This mixin provides you a cross-browser compatible method to set the cursor grabbing behavior.

######Example:
`.cursorGrab();`<br/>
`.cursorGrabbing();`<br/>

*/
/*
Clear form button mixin
========================
This mixin removes styles from the button element and makes it look like a text link.
*/
@font-face {
  font-family: 'MyWebFont';
  src: url('../../themes/Frontend/WeinseisenOptik/frontend/_public/src/fonts/Sifonn-Basic.eot'), url('../../themes/Frontend/WeinseisenOptik/frontend/_public/src/fonts/Sifonn-Basic.woff') format('woff'), url('../../themes/Frontend/WeinseisenOptik/frontend/_public/src/fonts/Sifonn-Basic.ttf') format('truetype'), url('../../themes/Frontend/WeinseisenOptik/frontend/_public/src/fonts/Sifonn-Basic.svg') format('svg');
}
@font-face {
  font-family: 'AlexBrush-Regular';
  src: url('../../themes/Frontend/WeinseisenOptik/frontend/_public/src/fonts/AlexBrush-Regular.eot'), url('../../themes/Frontend/WeinseisenOptik/frontend/_public/src/fonts/AlexBrush-Regular.woff') format('woff'), url('../../themes/Frontend/WeinseisenOptik/frontend/_public/src/fonts/AlexBrush-Regular.ttf') format('truetype'), url('../../themes/Frontend/WeinseisenOptik/frontend/_public/src/fonts/AlexBrush-Regular.svg') format('svg');
}
.banner--container picture img {
  width: 100%;
}
.banner_image_class {
  background-image: url(../../themes/Frontend/WeinseisenOptik/frontend/_public/src/img/banner_image.jpg);
  height: 630px;
  position: relative;
  background-position: 100%;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.banner_caption {
  width: 500px;
  text-align: center;
  position: absolute;
  top: 23%;
  left: 0;
  right: -50%;
  margin: 0 auto;
}
.banner_caption_inner h2 {
  font-size: 78px;
  margin: 0;
  font-family: 'AlexBrush-Regular';
  color: #FFF;
  line-height: 1.05;
}
.banner_caption_inner h3 {
  font-family: 'MyWebFont';
  font-size: 62px;
  margin: 0 0 17px 0;
  color: #B61615;
}
.banner_caption_inner p {
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 23px;
  color: #FFF;
  line-height: 1.8;
}
.banner_caption_inner a {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  border: 1px solid;
  width: 247px;
  padding: 5px 0;
  display: block;
  margin: 12px auto 0;
}
.container-my {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: block;
}
.container {
  max-width: inherit !important;
}
.content-main,
.content-main--inner {
  padding: 0 !important;
}
.one_four {
  width: 480px;
  padding: 0 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: -3px;
}
.one_eight {
  width: 630px;
  padding: 0 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: -3px;
}
.clearfix {
  clear: both;
  float: none;
}
.image_border_class {
  border: 15px solid #FFF;
  width: 440px;
  /* display: block; */
  background: url('../../themes/Frontend/WeinseisenOptik/frontend/_public/src/img/image_section.jpg');
  background-position: center center;
  height: 440px;
  background-repeat: no-repeat;
  float: right;
}
.image_border_class img {
  width: 100%;
  display: block;
}
.section-main_class {
  background: #E6E6E6;
  padding: 30px 0;
}
.section_right h3 {
  font-size: 22px;
  margin: 0 0 5px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.section_right {
  padding: 0 15px;
}
.section_right h2 {
  font-size: 38px;
  margin: 0 0 15px 0;
  font-family: 'MyWebFont';
  font-weight: 600;
}
.section_right p {
  font-size: 24px;
  margin: 0 0 50px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.section_right a {
  font-size: 20px;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  border: 1px solid #000;
  text-decoration: none;
  width: 247px;
  display: block;
  text-align: center;
  padding: 5px 0;
  color: #000;
}
.inner-div-desc {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 130px;
}
.inner-div-desc .inner-div-desc .header-main-section h3 {
  font-size: 22px;
  margin: 0 0 5px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.header-main-section h2 {
  font-size: 38px;
  margin: 0 0 120px 0;
  font-family: 'MyWebFont';
  font-weight: 600;
}
.header-main-section {
  text-align: center;
}
.name-product-section h2 {
  font-size: 59.87px;
  margin: 0 0 15px 0;
  font-family: 'MyWebFont';
  font-weight: 600;
  color: #FFF;
  position: relative;
  text-align: right;
  padding-right: 54px;
}
.name-product-section h2:after {
  content: "";
  background: #FFF;
  width: 260px;
  height: 7px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  bottom: -40px;
}
.product-section {
  width: 100%;
}
.single-product-section {
  display: inline-block;
  width: 100%;
  margin-right: -3px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  padding: 0 2px;
}
.name-product-section {
  position: absolute;
  width: 100%;
  bottom: 105px;
}
.feature-product-main-section {
  margin-top: 130px;
  margin-bottom: 105px;
}
.single-image-section img {
  width: 100%;
}
.topseller--title {
  display: none;
}
.content--home {
  margin-top: 0 !important;
}
.footer-main .footer--column {
  width: 33.33%;
}
/**** Header CSS Start ****/
.header-main {
  background: #0A0A0A;
}
.header-main .container {
  background: #0A0A0A;
}
.shop--navigation {
  background: #0A0A0A;
}
.entry--search .main-search--form .main-search--field,
.entry--search .main-search--form .main-search--field:focus {
  background: #333;
}
.navigation-main {
  background: gray;
}
/**** Header CSS End ****/
/**** Footer CSS Start ****/
.footer-main .footer--logo {
  width: 100%;
  left: 0;
}
i.icon--shopware {
  float: left;
  padding: 0 0 0 20px;
}
.social_logo i {
  font-size: 1.375rem;
  padding: 0 20px;
  color: #707070;
}
.social_logo {
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
}
/**** Footer CSS End ****/
.product--box .product--badges .badge--newcomer {
  color: #FFF;
  background: #F00;
}
.product-slider--item {
  padding: 45px;
}
a.product--image {
  border: 2px solid #EAEAEA;
}
@media (min-width: 767px) {
  .container-my {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .container-my {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container-my {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-my {
    width: 1140px;
  }
}
@media (max-width: 1366px) {
  .banner_caption {
    right: -45%;
  }
}
@media (max-width: 1200px) {
  .banner_caption {
    right: -40%;
  }
}
@media (max-width: 1100px) {
  .one_four {
    width: 45%;
    margin-right: -3px;
  }
  .image_border_class {
    width: 100%;
  }
  .one_eight {
    width: 55%;
    margin-right: -3px;
  }
  .banner_image_class {
    background-position: -245px;
  }
  .banner_caption {
    right: -50%;
  }
}
@media (max-width: 1080px) {
  .banner_caption {
    right: -52%;
  }
}
@media (max-width: 1024px) {
  .banner_caption_inner h2 {
    font-size: 50PX;
  }
  .banner_caption_inner h3 {
    font-size: 40px;
  }
  .banner_caption_inner p {
    font-size: 20px;
  }
  .banner_image_class {
    background-position: -300px;
  }
  .banner_caption {
    width: 400px;
  }
}
@media (max-width: 991px) {
  .name-product-section h2 {
    font-size: 30px;
  }
  .name-product-section h2::after {
    width: 65%;
    bottom: -20px;
  }
  .header-main-section h2 {
    font-size: 30px;
    margin: 0 0 50px 0;
    line-height: 30px;
  }
  .header-main-section h3 {
    font-size: 18px;
    line-height: 18px;
  }
  .feature-product-main-section {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .section_right h3 {
    font-size: 18px;
    line-height: 18px;
  }
  .section_right h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .section_right p {
    font-size: 16px;
    margin: 0 0 25px 0;
    line-height: 21px;
  }
  .section_right a {
    font-size: 18px;
    line-height: 23px;
  }
  .one_four {
    width: 50%;
  }
  .one_eight {
    width: 50%;
  }
  .inner-div-desc {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .inner-div-desc h3 {
    font-size: 18px;
    margin-top: 0;
    line-height: 18px;
  }
  .inner-div-desc h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .inner-div-desc p {
    font-size: 16px;
    line-height: 21px;
  }
  .btn-div-a a {
    font-size: 16px;
    line-height: 21px;
  }
  .inner-div-desc h4 {
    font-size: 18px;
    line-height: 18px;
  }
  .footer--column:nth-child(2) {
    padding-right: 15px;
  }
  .footer--column:nth-child(3) {
    padding-left: 15px;
  }
  .banner_caption_inner h2 {
    font-size: 60px;
  }
  .banner_caption_inner h3 {
    font-size: 50px;
  }
  .banner_caption_inner p {
    font-size: 20px;
  }
  .banner_caption_inner a {
    font-size: 16px;
    width: 200px;
  }
  .banner_caption {
    width: 400px;
  }
  .banner_image_class {
    background-position: -300px;
  }
}
@media (max-width: 854px) {
  .banner_image_class {
    background-position: -400px;
  }
}
@media (max-width: 768px) {
  .banner_image_class {
    background-position: -500px;
  }
  .banner_caption {
    right: -42%;
  }
}
@media (max-width: 767px) {
  .container-my {
    width: 100%;
  }
  .header-main-section h3 {
    font-size: 14px;
    line-height: 14px;
  }
  .header-main-section h2 {
    font-size: 22px;
    margin: 0 0 25px 0;
    line-height: 22px;
  }
  .feature-product-main-section {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .name-product-section h2 {
    font-size: 22px;
    line-height: 22px;
  }
  .name-product-section h2::after {
    width: 40%;
    bottom: -15px;
  }
  .name-product-section {
    bottom: 50px;
  }
  .one_eight {
    padding: 0;
  }
  .section_right h3 {
    font-size: 14px;
    line-height: 14px;
  }
  .section_right h2 {
    font-size: 22px;
    line-height: 22px;
  }
  .section_right p {
    font-size: 12px;
    margin: 0 0 14px 0;
    line-height: 12px;
  }
  .section_right a {
    font-size: 14px;
    line-height: 14px;
  }
  .inner-div-desc {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .inner-div-desc h2 {
    font-size: 22px;
    line-height: 22px;
    margin-top: 8px;
  }
  .inner-div-desc p {
    font-size: 12px;
    line-height: 12px;
    margin-top: 12px;
  }
  .inner-div-desc h4 {
    margin-top: 10px;
  }
  .btn-div-a a {
    font-size: 14px;
    line-height: 14px;
  }
  .btn-div-a {
    margin-top: 12px;
  }
  .section_right a {
    width: 160px;
    padding: 10px 40px;
  }
  ul.service--list.is--rounded {
    display: none;
  }
  .banner_caption_inner h2 {
    font-size: 40px;
  }
  .banner_caption_inner h3 {
    font-size: 35px;
  }
  .banner_caption_inner p {
    font-size: 16px;
  }
  .banner_caption_inner a {
    font-size: 14px;
  }
  .banner_image_class {
    background-position: -535px;
  }
  ul.shop-sites--navigation.sidebar--navigation.navigation--list.is--drop-down.is--level0 {
    display: none;
  }
}
@media (max-width: 668px) {
  .one_four {
    width: 100%;
    margin-bottom: 20px;
  }
  .one_eight {
    width: 100%;
    text-align: center;
  }
  .section_right a {
    margin: 0 auto;
  }
  .name-product-section h2::after {
    width: 60%;
  }
  .banner_image_class {
    background-position: -390px;
    height: 500px;
  }
  .banner_caption {
    right: -32%;
  }
  .footer--column {
    width: 100% !important;
  }
}
@media (max-width: 480px) {
  .single-product-section {
    width: 50%;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .single-product-section:nth-child(3) {
    display: block;
    margin: 2px auto;
  }
  .single-product-section {
    width: 100%;
  }
  .one_four {
    padding: 0;
  }
  .name-product-section h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .banner_image_class {
    background-image: url(../../themes/Frontend/WeinseisenOptik/frontend/_public/src/img/banner_images_mobile.png);
    background-size: cover;
    height: 300px;
    background-position: 100%;
  }
  .banner_caption {
    right: 0;
    width: 165px;
    top: 50%;
  }
  .banner_caption_inner h2 {
    font-size: 20px;
  }
  .banner_caption_inner h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .banner_caption_inner p {
    font-size: 9px;
  }
  .banner_caption_inner a {
    font-size: 9px;
    width: 75px;
    padding: 3px 0 5px;
  }
  .footer-main .column--headline {
    font-size: 0.75rem !important;
  }
  .footer--column:nth-child(1) {
    padding-right: 15px;
  }
}
@media (max-width: 414px) {
  .banner_image_class {
    background-position: -45px;
  }
}
@media (max-width: 375px) {
  .banner_image_class {
    background-position: -65px;
  }
}
@media (max-width: 360px) {
  .banner_image_class {
    background-position: -70px;
  }
}
@media (max-width: 320px) {
  .banner_image_class {
    background-position: -90px;
  }
}
.emotion--wrapper {
  width: 100% !important;
  max-width: inherit;
}
.bottom_content_block h1,
.bottom_content_block h2,
.bottom_content_block h3,
.bottom_content_block h4,
.bottom_content_block p,
.bottom_content_block .btn-div-a {
  text-align: center;
}
.bottom_content_block h3 {
  font-size: 22px;
  margin: 0px;
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.bottom_content_block p {
  font-size: 23px;
  margin: 0px;
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.bottom_content_block h2 {
  font-size: 38px;
  margin: 0;
  margin-top: 18px;
  font-family: 'MyWebFont';
  font-weight: 600;
  text-transform: uppercase;
}
.bottom_content_block .inner-div-desc h4 {
  margin: 0px;
  font-size: 23px;
  margin-top: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
.bottom_content_block .btn-div-a {
  margin-top: 30px;
}
.bottom_content_block .btn-div-a a {
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  padding: 10px 40px;
  font-family: 'Lato', sans-serif;
  display: inline-block;
  font-weight: 300;
}
.content--emotions .emotion--wrapper:nth-child(5) .emotion--container {
  background: #E6E6E6;
  padding: 30px 0;
}
.content--emotions .emotion--wrapper:nth-child(5) .emotion--container .emotion--element {
  background: #E6E6E6;
  padding: 30px 0;
}
.content--emotions .emotion--wrapper:nth-child(5) .emotion--container .emotion--element .emotion--html {
  background: #E6E6E6;
}
.content--emotions .emotion--wrapper:nth-child(5) .emotion--container .emotion--element .emotion--html .html--content {
  background: #E6E6E6;
}
.content--emotions .emotion--wrapper:nth-child(5) .emotion--container .emotion--element .emotion--html .html--content .section-right {
  background: #E6E6E6;
}
.content--emotions .emotion--wrapper:nth-child(5) .emotion--container .emotion--element img {
  border: 15px solid #FFF;
  width: 98%;
}
/*
Mixins
==================================================
The `mixins.less` file contains the imports to all mixin documents that simplify the work with Shopware.

Mixin specific documentation can be found inside each mixin file.

Mixins can be used by adding the mixin class onto an element inside Shopware.

**Example:**<br/>
`.border-radius(3px);`
*/
/*
Appearance mixin
============================================
The mixins provides you a cross-browser compatible method to set the appearance of the element.

Please refer to <http://caniuse.com/appearance> to see the browser support table of the feature.

######Example:
`.appearance([value]);`

`@param {String} type The type you want to use`
*/
/*
Backface visibility mixin
============================================
The mixins provides you a cross-browser compatible method to set the backface-visibility of the element.

Please refer to <http://caniuse.com/transforms3d> to see the browser support table of the feature.

######Example:
`.backface-visibility([value]);`

`@param {String} visibility The visibility you want to use`
*/
/*
Border-radius mixin
=============================================
The mixins provides you a cross-browser compatible method to set a border-radius.

Please refer to <http://caniuse.com/border-radius> to see the browser support table of the feature.

######Syntax:
`@param {String} radius The radius you want to set`<br/>

######Example:
Same border-radius for all edges: <br/>
`.border-radius([pixel-value]);`<br/>

Different border-radius:<br/>
`.border-radius-multi([pixel-value-leftTop], [pixel-value-rightTop], [pixel-value-rightBottom], [pixel-value-leftBottom]);`<br/>

Resetting border radius:<br/>
`.reset-border-radius();`
*/
/*
Box shadow mixin
==============================================
The mixins provides you a cross-browser compatible method to set a box-shadow.

Please refer to <http://caniuse.com/css-boxshadow> to see the browser support table of the feature.

######Example:
`.box-shadow([h-shadow-value], [v-shadow-value], [blur-amount], [spread-amount], [shadow-color]);`

`@param: {Number} x: Offset to the x axis (Default: 0)`<br/>
`@param: {Number} y: Offset to the y axis (Default: 0)`<br/>
`@param: {Number} blur: Bluring radius (Default: 1px)`<br/>
`@param: {String} color: Color of the shadow (Default: #000)`<br/>
*/
/*
Box-sizing mixin
========================================
The mixins provides you a cross-browser compatible method to set the box-sizing which supports IE starting from
version 8 to the newest one.

Please refer to <http://caniuse.com/css3-boxsizing> to see the browser support table of the feature.

######Example:
`.box-sizing:([value]);`

`@param: {String} box-sizing: Box model, which should be used (Default: border-box)`
*/
/*
Clearfix mixin
================================
The clearfix mixin allows the easy integration of the floating-solution method.

The clearfix resolves the problem that occurs when two floating elements are nested inside a parent element, then sometimes the parent elements height disappears.

Add the `.clearfix` class to the parent element.

######Example:
`.clearfix();`

*/
/*
Gradient mixin
====================================================
The mixins provides you a cross-browser compatible method to set a linear gradient which goes from top to bottom.

Please refer to <http://caniuse.com/css-gradients> to see the browser support table of the feature.

Shopware 5 also provides gradient mixins based on the basic color variables that can be changed in the backend theme configuration tool.
######Basic gradients:
`.primary-gradient();`<br/>
`.secondary-gradient();`<br/>
`.white-gradient();`<br/>

######Linear Gradient Example:
`.linear-gradient([startcolor-value], [endcolor-value]);`

`@param {String} start The start color of the gradient`<br/>
`@param {String} end The end color of the gradient`
*/
/*
Opacity
===============================================
The mixins provides you a cross-browser compatible opacity which supports IE starting from version 8 to the
newest one. Safari, Chrome and Firefox are supported in all versions.

Please refer to <http://caniuse.com/css-opacity> to see the browser support table of the feature.

######Example:
`.opacity([value]);`

`@param: {Number} opacity: Value of the opacity, starting from 0 to 1`
*/
/*
Rotate mixin
===============================================
The mixins provides you a cross-browser compatible method to set a transformation which rotates the element. Keep in
mind that you can not mix different transformations.

Please refer to <http://caniuse.com/transforms2d> to see the browser support table of the feature.

######Example:
`.rotate([value]);`

`@param {String} degree The degree value you want to set. Please keep in mind that you need to suffix the unit.`
*/
/*
Scale mixin
===============================
The mixins provides you a cross-browser compatible method to set a transformation which scales the element.
Keep in mind that you can not mix different transformations.

Please refer to <http://caniuse.com/transforms2d> to see the browser support table of the feature.

######Example:
`.scale([value]);`

`@param {String} scale-value The scale value, you want to set`
*/
/*
Touch callout mixin
===========================================
Disables the default callout shown when you touch and hold a touch target.

######Support:
- iOS 2.0<br/>
- Android 4.1<br/>

######Example:
`.touch-callout([value]);`

`@param: {String} type: The type you want to set (Default: none)`
*/
/*
Transform style mixin
======================================
The mixins provides you a cross-browser compatible method to set a transformation style.

Please refer to <http://caniuse.com/transforms3d> to see the browser support table of the feature.

######Example:
`.transform-style([value]);`

`@param {String} Style The style you want for your transformation (Default: preserve-3d)`
*/
/*
Transform origin mixin
======================================
The mixins provides you a cross-browser compatible method to set the transform origin position.

Please refer to <http://caniuse.com/transforms2d> to see the browser support table of the feature.

######Example:
`.transform-origin([x-value],[y-value],[z-value]);`

`@param: x: Sets the origin position on the x axis (Default: 50%)`<br/>
`@param: y: Sets the origin position on the y axis (Default: 50%)`<br/>
`@param: z: Sets the origin position on the z axis (Default: 0)`
*/
/*
Transition mixin
=========================================
The mixins provides you a cross-browser compatible method to set a transition.

Please refer to <http://caniuse.com/css-transitions> to see the browser support table of the feature.

######Example:
`.transition([property], [duration-value], [easing]);`

`@param: {String} properties: The properites which should be animated (Default: all)`<br/>
`@param: {String} duration: Duration of the transition including the unit (Default: 0.3s)`<br/>
`@param: {String} easing: The easing which should be used for the transition (Default: ease-out)`
*/
/*
Translate mixin
============================================
The mixins provides you a cross-browser compatible method to set a transition.

Please refer to <http://caniuse.com/css-transitions> to see the browser support table of the feature.

Keep in mind, that 3d translations are needing an perspective, otherwise the translated elements get skewed up.

######Example:
`.translate([x-value],[y-value],[z-value]);`

`@param: {String} rotateX: The rotation on the x-axis`<br/>
`@param: {String} rotateY: The rotation on the y-axis`<br/>
`@param: {String} rotateZ: The rotation on the z-axis`<br/>
*/
/*
Unitize mixin
================================================
The unitize mixins converts values from px-units to the relative rem-units, providing all the benefits of units like em and rem, without you having to do any calculations yourself.

######Syntax:
`@property` = the property that should be unitized.<br/>
`@value` = pixel-value<br/>
`@baseValue` (optional) = default browser font-size (@remScaleFactor in most cases)<br/>

######Example Unitize mixin with custom property
`.unitize(@property, @value);`<br/>
`.unitize(font-size, 16);`

######Specific built-in functions
In addition to the general `.unitize()` mixin, Shopware contains specific mixins to quickly calculate values which (for example) have more than one property.<br/>
<br/>

`.unitize-height(@value)`<br/>
`.unitize-width(@value)`<br/>
`.unitize-max-height(@value)`<br/>
`.unitize-max-width(@value)`<br/>
`.unitize-min-width(@value)`<br/>
`.unitize-padding(@topValue, @rightValue: @topValue, @bottomValue: @topValue, @leftValue: @rightValue)`<br/>
`.unitize-margin(@topValue, @rightValue: @topValue, @bottomValue: @topValue, @leftValue: @rightValue)`<br/>
`.unitize-variable(@value)`<br/>
*/
/*
User-select mixin
===============================
The mixins provides you a cross-browser compatible method to set a user selection mode.

Please refer to <http://caniuse.com/user-select-none> to see the browser support table of the feature.

######Example:
`.user-select([value]);`

`@param: {String} type: The type you want to set (Default: none)`
*/
/*
Transform mixin
==============================================
The mixins provides you a cross-browser compatible method to set a transformation.

Please refer to <http://caniuse.com/transforms2d> to see the browser support table of the feature.

######Example:
`.transform([value]);`

`@param: {String} properties: The transformation(s) that should be applied`
*/
/*
Tab highlighting mixin
===========================
Sets the color of the highlighting when a link was clicked / tapped.

Please refer to <http://www.browsersupport.net/CSS/-webkit-tap-highlight-color> to see the browser support table of the feature.

######Example:
`.tap-highlight-color([color-value]);`

`@param: {String} color: The color you want to set (Default: rgba(0, 0, 0, 0))`
*/
/*
Keyframe mixin
=============================================
The mixins provides you a cross-browser compatible method to set a keyframe.

Please refer to <http://caniuse.com/#search=keyframe> to see the browser support table of the feature.

######Example:
`.keyframes([name-value], [frames-value]);`

`@param: {String} name: The keyframe animation name`<br/>
`@param: {String} roules: the animation frames`
*/
@-webkit-keyframes keyframe--spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes keyframe--spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes keyframe--spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes keyframe--spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes keyframe--spin-reverse {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes keyframe--spin-reverse {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@-webkit-keyframes keyframe--spin-reverse {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes keyframe--spin-reverse {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
/*
Animations mixin
============================================
The mixins provides you a cross-browser compatible method to set animation values.

Please refer to <http://caniuse.com/css-animation> to see the browser support table of the feature.

######Example:
`.animation([value]);`

`@param: {String} value: All animation values`
*/
/*
Column count mixin
=============================================
This mixin provides you a cross-browser compatible method to set the column count property.

Please refer to <http://caniuse.com/multicolumn> to see the browser support table of the feature.

######Example:
`.column-count([value]);`

`@param: {Number} count: The amount of columns you want to set (Default: auto)`
*/
/*
Hypheration mixin
======================================
The mixins provides you a cross-browser compatible method to set the hyphenation.

Please refer to <http://caniuse.com/css-hyphens> to see the browser support table of the feature.

######Example:
`.hyphens([value]);`

`@param: {String} hyphenation: The hyphenation that should be used (Default: auto)`
*/
/*
Grabbing cursor
==================================
This mixin provides you a cross-browser compatible method to set the cursor grabbing behavior.

######Example:
`.cursorGrab();`<br/>
`.cursorGrabbing();`<br/>

*/
/*
Clear form button mixin
========================
This mixin removes styles from the button element and makes it look like a text link.
*/
/*# sourceMappingURL=/development/shopware2/web/cache/css.source.map */